@import '../setColors.scss';

.header{
    background: $primary;
    height: auto;
}

.logo {
    max-width: 100px;
}

.navbar-collapse {
    background: $primary;
    border-radius: 20px;
}

.mobile-links ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile-links li {
    margin: 0 10px;
}

@media (max-width: 400px) {
    .navbar-collapse {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar-collapse button {
        margin-top: 10px;
    }

    .mobile-links {
        margin-top: 20px;
    }
}

