@import '../setColors.scss';

.header{
    background: $primary;
    height: 80px;
}

.logo{
    max-width: 100px;
}

.navbar-toggler{
    border: none !important;
}

.navbar-toggler:focus{
    box-shadow:none !important;
}
 
.navbar-collapse{
    background: $primary;
    border-radius: 20px;
}

@media (max-width:765px) {
    .nav-border{ 
        border-right: none;
    }    
}