@import '../setColors.scss';

footer{
    color: white ;
    background-size: contain;
    background-position: bottom;
    background-color: $primary;

    a{
        color: white;

        &:hover{
            color: $tertiary;
        }
    }
}

.icon-footer{
    fill: white;
    transition: .1s ease-in-out;

    &:hover{
        fill: $tertiary;
    }
}

.footer-border{
    border-left: solid 2px white;
}

.footer-img{
    max-width: 200px;
}