/* Colors */
$primary : #823CDE;
$secondary : #CCF069;
$tertiary : #D0EC00;
$tertiary-dark : #6B7900;

/* Purple */
$purple1: #30036A;
$purple2: #4B1099;
$purple3: #661BC8;
$purple4: #823CDE;
$purple5: #965DE1;
$purple6: #B98FEF; 

$w: white;
$c1: #E8E8E8;
$c2 :#D1D1D1;
$c3 :#A5A5A5;
$c4 :#535353;
$c5 :#434343;
$c6 :#231F20;

$black0:#2E2E2E;
$black1:#1D1D1D;


$green0:#d0e533;
$green2:#BFD900;
$green4 :#9EB300;
$green7 :#6B7900;

$blue0:#EBECFF;
$blue4:#4C55F7;
$blue5:#D4D6FF;
$blue7:#111BD7;
$blue8:#070FAD;
$blue9:#02076B;

/* Gradients */
